In [2]:
students = [
{ "id": '6512225001', "name": "James" }, #0
{ "id": '6512225002', "name": "Robert" },#1
{ "id": '6512225003', "name": "Michael" },#2
{ "id": '6512225004', "name": "Richard" },#3
{ "id": '6512225005', "name": "Nicholas" },#4
{ "id": '6512225006', "name": "Jeffrey" },#5
{ "id": '6512225007', "name": "Patrick" },#6
{ "id": '6512225008', "name": "Peter" },#7
{ "id": '6512225009', "name": "Jonathan" },#8
{ "id": '6512225010', "name": "Thomas" },#9
]

In [3]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),(4, 5),
(5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [4]:
for student in students:
    student["friends"] = []
students

[{'id': '6512225001', 'name': 'James', 'friends': []},
 {'id': '6512225002', 'name': 'Robert', 'friends': []},
 {'id': '6512225003', 'name': 'Michael', 'friends': []},
 {'id': '6512225004', 'name': 'Richard', 'friends': []},
 {'id': '6512225005', 'name': 'Nicholas', 'friends': []},
 {'id': '6512225006', 'name': 'Jeffrey', 'friends': []},
 {'id': '6512225007', 'name': 'Patrick', 'friends': []},
 {'id': '6512225008', 'name': 'Peter', 'friends': []},
 {'id': '6512225009', 'name': 'Jonathan', 'friends': []},
 {'id': '6512225010', 'name': 'Thomas', 'friends': []}]

In [6]:
# Populate the "friends" list for each student
for friend1, friend2 in friendships:    # ***friendships = [(friend1, friend2)]
    students[friend1]["friends"].append({ "id": students[friend2]["id"], "name": students[friend2]["name"] })
    students[friend2]["friends"].append({ "id": students[friend1]["id"], "name": students[friend1]["name"] })

# Print the ID, name, and friends(ID and name for each student)
for student in students:
    print(student)

# ---- Credit by Songpon Singkhonrat ----

{'id': '6512225001', 'name': 'James', 'friends': [{'id': '6512225002', 'name': 'Robert'}, {'id': '6512225003', 'name': 'Michael'}, {'id': '6512225002', 'name': 'Robert'}, {'id': '6512225003', 'name': 'Michael'}]}
{'id': '6512225002', 'name': 'Robert', 'friends': [{'id': '6512225001', 'name': 'James'}, {'id': '6512225003', 'name': 'Michael'}, {'id': '6512225004', 'name': 'Richard'}, {'id': '6512225001', 'name': 'James'}, {'id': '6512225003', 'name': 'Michael'}, {'id': '6512225004', 'name': 'Richard'}]}
{'id': '6512225003', 'name': 'Michael', 'friends': [{'id': '6512225001', 'name': 'James'}, {'id': '6512225002', 'name': 'Robert'}, {'id': '6512225004', 'name': 'Richard'}, {'id': '6512225001', 'name': 'James'}, {'id': '6512225002', 'name': 'Robert'}, {'id': '6512225004', 'name': 'Richard'}]}
{'id': '6512225004', 'name': 'Richard', 'friends': [{'id': '6512225002', 'name': 'Robert'}, {'id': '6512225003', 'name': 'Michael'}, {'id': '6512225005', 'name': 'Nicholas'}, {'id': '6512225002', 'name': 'Robert'}, {'id': '6512225003', 'name': 'Michael'}, {'id': '6512225005', 'name': 'Nicholas'}]}
{'id': '6512225005', 'name': 'Nicholas', 'friends': [{'id': '6512225004', 'name': 'Richard'}, {'id': '6512225006', 'name': 'Jeffrey'}, {'id': '6512225004', 'name': 'Richard'}, {'id': '6512225006', 'name': 'Jeffrey'}]}
{'id': '6512225006', 'name': 'Jeffrey', 'friends': [{'id': '6512225005', 'name': 'Nicholas'}, {'id': '6512225007', 'name': 'Patrick'}, {'id': '6512225008', 'name': 'Peter'}, {'id': '6512225005', 'name': 'Nicholas'}, {'id': '6512225007', 'name': 'Patrick'}, {'id': '6512225008', 'name': 'Peter'}]}
{'id': '6512225007', 'name': 'Patrick', 'friends': [{'id': '6512225006', 'name': 'Jeffrey'}, {'id': '6512225009', 'name': 'Jonathan'}, {'id': '6512225006', 'name': 'Jeffrey'}, {'id': '6512225009', 'name': 'Jonathan'}]}
{'id': '6512225008', 'name': 'Peter', 'friends': [{'id': '6512225006', 'name': 'Jeffrey'}, {'id': '6512225009', 'name': 'Jonathan'}, {'id': '6512225006', 'name': 'Jeffrey'}, {'id': '6512225009', 'name': 'Jonathan'}]}
{'id': '6512225009', 'name': 'Jonathan', 'friends': [{'id': '6512225007', 'name': 'Patrick'}, {'id': '6512225008', 'name': 'Peter'}, {'id': '6512225010', 'name': 'Thomas'}, {'id': '6512225007', 'name': 'Patrick'}, {'id': '6512225008', 'name': 'Peter'}, {'id': '6512225010', 'name': 'Thomas'}]}
{'id': '6512225010', 'name': 'Thomas', 'friends': [{'id': '6512225009', 'name': 'Jonathan'}, {'id': '6512225009', 'name': 'Jonathan'}]}